.liked-page{
    margin-bottom: 110px;
}

.banner{
    width: 100%;
    margin-bottom: 32px;
}

.card-container{
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
}

.text-clear{
    text-align: center;
    font-size: 64px;
}

